:root {
  --primary-bnd-color: #ffffff;
  --secondary-bnd-color: #f5f4fa;
  --darker-bnd-color: #2f303a;
  --title-color: #212121;
  --item-text-color: #757575;
  --accent-color: #2196f3;
  --first-active-color: #2196f3;
  --second-active-color: #188ce8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

a {
  color: currentColor;
}

button {
  font-family: inherit;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  /* расширяем кликабельную площадь кнопки*/
  /* border: 1px solid transparent; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  color: var(--item-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  display: inline-block;
}

.container {
  /* width: 1200px; */
  /* простой вариант, не реагирует на ширину монитора */

  /* width: 100%; */
  /* width: 100% одновременно перед max-width задаем для ... (уточнить!) */
  max-width: 1200px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-bnd-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

/* ------------HEADER-------------- */
.header {
  padding: 24px 0;
  border-bottom: 1px solid #ececec;
}

.header > .container {
  display: flex;
  align-items: center;
}

.header-logo-text,
.footer-logo-text {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: black;
  margin-right: 93px;
  /* outline: 2px solid tomato; */
}

.header-logo-text span,
.footer-logo-text span {
  color: var(--accent-color);
}

.menu-nav {
  display: flex;
  align-items: center;
}

.menu-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.header-contact-list {
  margin-left: auto;
}

.header .list {
  display: flex;
  gap: 50px;
}

/* другой способ задать расстояния между элементами списка */
/* .menu-nav-item:not(:last-child) {
  margin-right: 50px;
} */

.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 4px;
  left: 0;
  background-color: var(--accent-color);
  bottom: -32px;
}

.menu-nav-link:hover,
.menu-nav-link:focus {
  background-color: #ffffff;
  color: var(--accent-color);
}

.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  /* color: var(--item-text-color); */
  color: inherit;
  display: flex;
  align-items: center;
  fill: var(--item-text-color);
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}

.header-contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

.smooth-trans-color {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------HERO-------------- */

.hero.section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-bnd {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/hero.jpg");
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  /* padding-top: 200px; */

  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn,
.send-btn,
.signup-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background-color: var(--first-active-color);
  border: 1px solid var(--first-active-color);
  border-radius: 4px;
  text-align: inherit;
  min-width: 200px;
  padding: 8px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-btn:active,
.send-btn:active,
.signup-btn:active {
  background-color: var(--second-active-color);
  border-color: var(--second-active-color);
}

/* ------------ADVANTAGES-------------- */

.advantages.section {
  padding-bottom: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.advantages-item {
  max-width: 270px;
  flex-basis: 270px;
}

.advantages-item::before {
  content: "";
  display: block;
  background-color: var(--secondary-bnd-color);
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages-item:nth-child(1)::before {
  background-image: url("../images/group1.svg");
}
.advantages-item:nth-child(2)::before {
  background-image: url("../images/group2.svg");
}
.advantages-item:nth-child(3)::before {
  background-image: url("../images/group3.svg");
}
.advantages-item:nth-child(4)::before {
  background-image: url("../images/group4.svg");
}

/* для ADVANTAGES вариант2 */
/* .advantages-item-pic {
  margin-bottom: 30px;
} */

.advantages-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.advantages-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /* color: var(--item-text-color); */
  color: inherit;
}

/* ------------LINE OF WORK-------------- */

.lineofwork-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.lineofwork-item {
  position: relative;
}

.lineofwork-over-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0px;
  margin-bottom: 0;
}

/* ------------TEAM-------------- */
.team.section {
  background-color: var(--secondary-bnd-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: var(--primary-bnd-color);
  /* width: calc((100%-90px) / 4); */
  max-width: 260 px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-item-content {
  padding: 30px 0;
}

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}

.team-list p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  /* color: var(--item-text-color); */
  color: inherit;
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.team-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-bnd-color);
}

/* ------------CLIENTS-------------- */
.clients-list {
  display: flex;
  /* justify-content: center; */
  gap: 30px;
  width: 100%;
}

.clients-list-item {
  width: calc((100% - 150px + 12px) / 6);
  display: flex;
  /* justify-content: center; */
}

/* чтобы бордер и иконка меняли цвет одновременно 
когда ссылка занимает не всю площадь родителя*/
/* .clients-list-item:hover,
   .clients-list-item:focus {
  border-color: var(--accent-color);
} 
   .clients-list-item:hover .clients-link,
   .clients-list-item:focus .clients-link {
  fill: var(--accent-color);
} */

.clients-link {
  /* учитываем вертик. бордеры 1*2px */
  /* padding: 14px 0; */
  width: calc(100%);
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* ------------FOOTER-------------- */

.footer {
  background-color: var(--darker-bnd-color);
  padding: 60px 0;
}
.footer-logo-text {
  color: #ffffff;
  margin-right: 0;
  margin-bottom: 20px;
}

.footer-contact-item:not(:last-child) {
  margin-bottom: 9px;
}
/* вариант для задания большего количества свойств последнему элементу */
/* .footer-contact-item:last-child {
  margin-bottom: 0;
} */

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-contact-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 0.6;
}

.address-link {
  opacity: 1;
  min-width: 231px;
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  opacity: 1;
  color: var(--accent-color);
}

.footer-social {
  display: block;
  width: 206px;
  margin-left: 70px;
}

.footer-social-title,
.footer-signup-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--first-active-color);
}

.footer-social-icon {
  width: 20;
  height: 20;
}

.footer-signup {
  margin-left: 93px;
  display: flex;
  flex-wrap: wrap;
}
.signup-wrap {
  display: flex;
  gap: 12px;
}

.signup-input {
  width: 358px;
  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.signup-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.signup-input:focus {
  border-color: var(--accent-color);
}

.signup-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.signup-icon {
  fill: #ffffff;
}

/* ---------------MODAL FORM-------------- */

.backdrop {
  position: fixed;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotateY(90deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%) rotateY(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: solid 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* выше - все свойства перехода - одной строкой */
  /* transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.modal-close-btn:hover {
  fill: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--item-text-color);
  display: block;
  margin-bottom: 4px;
}

.modal-label span {
  display: block;
  margin-bottom: 4px;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px 11px 42px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #000000;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* .modal-input:required {
  border-color: red;
} */

/* .modal-input:hover, */
.modal-input:focus {
  border-color: var(--accent-color);
}

/* .modal-input:hover + .input-icon, */
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-input::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  /* ниже - паттерн выравнивания по высоте позиционированного элемента относительно родителя */
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-label {
  margin-bottom: 20px;
}

.modal-comment {
  display: block;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  /* margin-left: 0; */
  /* width: 100%; */
  /* border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px; */
}

.checkbox-field {
  margin-bottom: 30px;
}

.modal-checkbox-label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}

.modal-checkbox-label span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-left: 12px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .modal-checkbox-label span {
  background-color: var(--accent-color);
  border: none;
}

.modal-checkbox:checked + .modal-checkbox-label .check-icon {
  fill: #ffffff;
}

/* вариант через стили, без html */
/* .modal-checkbox-label::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-left: 12px;
  margin-right: 10px;
}

.modal-checkbox:checked + .modal-checkbox-label::before {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/tick.svg);
  background-repeat: no-repeat;
  background-position: center;
} */

.agreement-link {
  color: var(--accent-color);
  text-decoration-line: underline;
  margin-left: 5px;
}

.send-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ------------PORTFOLIO-------------- */

.filter-btn-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--secondary-bnd-color);
  border-color: var(--secondary-bnd-color);
  border-style: solid;
  border-radius: 4px;
  padding: 4px 22px;
  cursor: pointer;
  transition-property: background-color, border-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
  background-color: var(--first-active-color);
  border-color: var(--first-active-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  /*другой способ построения сетки*/
  /* margin: -15px; */
}

.portfolio-item {
  width: calc((100% - 60px) / 3);

  /*другой способ построения сетки*/
  /* width: calc(100% / 3 - 30px);
  margin: 15px; */
}

.portfolio-item-link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-over-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-item-link:hover .portfolio-over-text {
  transform: translateY(0);
}

.portfolio-over-text {
  position: absolute;
  top: 0px;
  left: 0px;
  /* если не задать шир. и выс., overflow: auto не сработает */
  width: inherit;
  height: calc(100% + 1px);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.portfolio-item-text {
  padding: 20px 24px 19px;
  border: 1px;
  border-style: solid;
  border-top-width: 0;
  border-top-style: hidden;
  border-color: #eeeeee;
}

.portfolio-item h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.portfolio-item > p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  /* color: var(--item-text-color); */
  color: inherit;
}
