@import './utils/placeholder';
@import './utils/mixins';
@import './utils/vars';
@import './utils/hidden';

@import './base/reset';
@import './base/common';

@import './components/container';
@import './components/section';
@import './components/title';
@import './components/logo';
@import './components/button';
@import './components/transitions';
@import './components/socials';
@import './components/modal';

@import './layout/header';
@import './layout/hero';
@import './layout/advantages';
@import './layout/lineofwork';
@import './layout/team';
@import './layout/clients';
@import './layout/footer';
@import './layout/portfolio';
