.advantages.section {
  // further-down part moved to section.scss
  // padding-bottom: 60px; //mobile
  // padding-top: 60px;    //mobile
  // tablet below
  // @media screen and (min-width: 768px) { //tablet
  // padding-top: 60px;
  // padding-bottom: 0px;
  // }
  // @media screen and (min-width: 1200px) { //desktop
  // padding-top: 94px;
  // padding-bottom: 94px;
  // }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  // justify-content: space-between;
  // align-items: center;
}

.advantages__item {
  width: 100%; //mobile - отзывчивый ниже моб.точки перелома
  @media screen and (min-width: 768px) {
    //tablet
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    //tablet
    width: calc((100% - 90px) / 4);
  }
  &::before {
    content: "";
    display: block;
    background-color: $secondary-bnd-color;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%; //mobile
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    // max-width: 100%;
    // flex-basis: 270px;
    // width: 270px;  //desktop
  }
  &:nth-child(1)::before {
    background-image: url("../images/group1.svg");
  }
  &:nth-child(2)::before {
    background-image: url("../images/group2.svg");
  }
  &:nth-child(3)::before {
    background-image: url("../images/group3.svg");
  }
  &:nth-child(4)::before {
    background-image: url("../images/group4.svg");
  }
}

/* для ADVANTAGES вариант2 */
/* .advantages-item-pic {
  margin-bottom: 30px;
} */

.advantages__item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-color;
  margin-bottom: 10px;
  text-align: center;
  @include tablet {
    text-align: start;
  }
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /* color: $item-text-color; */
  color: inherit;
}
