.footer {
  background-color: $footer-bnd-color;
  padding: 60px 0;
}

.footer__container { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 60px;
  column-gap: 165px;
  // @include tablet {
  //column-gap: 165px;
  //}
  @include desktop {
    justify-content:left;
    gap: 0;
    align-items: baseline;
    }
}

.address-wrap {
  text-align: center;
  width: 232px;
  @include desktop {
    text-align: left;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
  @include desktop {
    margin-bottom: 9px;
  }
}

/* вариант для задания большего количества свойств последнему элементу */
/* .footer-contact-item:last-child {
  margin-bottom: 0;
} */

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 0.6;
  &:hover,
  &:focus {
    opacity: 1;
    color: $accent-color;
  }
}

.address__link--geo {
  opacity: 1;
  // min-width: 231px;
}

.footer__socials {
  display: block;
  width: 206px;
  @include desktop {
  margin-left: 70px;
  }
}


  // .address-wrap, .footer__socials {
  // @include tablet {
  //   flex-basis: 50%;
  //   }
  // }



.socials__title,
.signup__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  &--light {color: #ffffff;
  }
  @include desktop {
  text-align: left;
  }
}

// уже указано в HTML
// .footer-social-icon {
//   width: 20;
//   height: 20;
// }

// .signup {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
// }

.footer__signip {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 450px;
  @include desktop {
    justify-content: left;
    margin-left: 93px;
    }
  }

.signup__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  @include desktop {
    gap: 12px;
    flex-wrap: nowrap;
    }
}

.signup__input {
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    }
  &:focus {
    border-color: $accent-color;
    }
    @include desktop {
      width: 358px;
    }
}

.signup__icon {
  fill: #ffffff;
}