.hero.section {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
    }
}

.hero--bnd {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/hero.jpg");
}

.hero__title {
  font-family: $common-font;
  @include font (26, 42, 900, 0.06);
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  max-width: 360px; // instead of "width" to make it responsive below 480px screen
  min-width: min-content;
  margin-bottom: 30px;
  // @include tablet {
  //   width: 360px
  // }
  @include desktop {
    @include font (44, 60, 900, 0.06);
    // lower properties is now work from mixin
    // font-size: 44px;
    // font-weight: 900;
    // line-height: 1.36;
    // letter-spacing: 0.06em;
    max-width: 696px;
    }
}
