.logo {
  display: inline-block;
  font-family: $logo-font;
  @include font(24, 28, 700, 0.03);
  color: $accent-color;
  //logo__part и модификаторы logo__part--light. На модификаторы только ставим цвет.
  //
  &__part {
    &--dark {
      color: black;
    }
    &--light {
      color: white;
    }
  }
  @include desktop {
    @include font(26, 31, 700, 0.03);
  }
}

.header__logo {
  @include desktop {
    margin-right: 93px;
  }
}

.footer__logo {
  margin-bottom: 20px;
}
