  $primary-bnd-color: #ffffff;
  $secondary-bnd-color: #f5f4fa;
  $footer-bnd-color: #2f303a;
  $title-color: #212121;
  $item-text-color: #757575;
  $accent-color: #2196f3;
  $first-active-color: #2196f3;
  $second-active-color: #188ce8;

// :root {
//   --primary-bnd-color: #ffffff;
//   --secondary-bnd-color: #f5f4fa;
//   --darker-bnd-color: #2f303a;
//   --title-color: #212121;
//   --item-text-color: #757575;
//   --accent-color: #2196f3;
//   --first-active-color: #2196f3;
//   --second-active-color: #188ce8;
// }

$common-font: "Roboto", "Arial", sans-serif;
// body {
//   --common-font: "Roboto", "Arial", sans-serif;
// }

$logo-font: "Raleway", sans-serif;
// .header-logo-text {
//   $logo-font: "Raleway", sans-serif;
// }